/* add it first to give it priority
.second {
	height: 100%
}

 */

@import "../reindeer/styles.css";

.v-app {
    background: white;
    font-family:'Droid Sans', Arial, sans-serif; font-weight:normal; font-style:normal;
    line-height:1.5;
    font-size:0.875em;
    background-image: url("/lod2demo/VAADIN/themes/lod2/app-images/LOD2.logo.jpg");
}

.slagzin {
    font-family:"Droid Sans", Arial, sans-serif; 
    font-weight:normal;
    font-style:normal;
	font-size:1.8em;
    line-height:1.5;
    z-index: 100;
    color:#000 !important;
.v-menubar { }
.gwt-MenuItem {}
.gwt-MenuItem-selected {}}

.v-embedded-lod.v-menubar { }
.gwt-MenuItem {}
.gwt-MenuItem-selected {}2logo {
    z-index: 1;
}

.slagzin_image {
    font-family:"Droid Sans", Arial, sans-serif; font-weight:normal; font-style:normal;
	font-size:1.4em;
    line-height:1.5;
    background: url("/lod2demo/VAADIN/themes/lod2/app-images/LOD2.logo.jpg");
}

.v-icon {
	height: 20px
}

.v-textarea-readonly {
	width: 1200px
}

.second {
	height: 100%;
}

.v-customcomponent-second {
	height: 300px;
}

.minheight {
	min-height: 500px;
}

/*
 * the next rules illustrate how to adapt the visualisation of the menu bar
 */
/*
.v-menubar { 
	background: none;
	border-color: #B5B6B7;
	border: dotted;
    	font-family:"Droid Sans", Arial, sans-serif; 
	font-color: black;
	color:#B5B6B7;
}

.v-menubar-menuitem { 
	background-color: white;
    	font-family:"Droid Sans", Arial, sans-serif; 
	font-color: black;
}
.v-menubar-menuitem-caption { 
    	font-family:"Droid Sans", Arial, sans-serif; 
	color: black;
}

.v-menubar-menuitem:hover { 
	background-color: red;
    	font-family:"Droid Sans", Arial, sans-serif; 
	font-color: black;
}

.gwt-MenuItem {
	background-color: transparent;
    	font-family:"Droid Sans", Arial, sans-serif; 
}

.gwt-MenuItem-selected {
	background-color: blue;
}
*/
