Source: lod2repository
Section: misc
Priority: extra
Maintainer: Sebastian Tramp <tramp@informatik.uni-leipzig.de>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://lod2.eu
#Vcs-Git: git://git.debian.org/collab-maint/lod2repository.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/lod2repository.git;a=summary

Package: lod2repository
Architecture: all
Depends: ${misc:Depends}
Description: The LOD2 software stack repository as well as the LOD2 trusted keyring.
 This package adds the LOD2 debian package repository and the LOD2
 trusted keyring to your debian system.
 .
 LOD2 is a large-scale integrating project co-funded by the European
 Commission within the FP7 Information and Communication Technologies
 Work Programme (Grant Agreement No. 257943). Commencing in September
 2010, this 4-year project comprises leading Linked Open Data technology
 researchers, companies, and service providers from across 7 European
 countries and is coordinated by the AKSW research group at the
 University of Leipzig.
