<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="LOD2TestSuite">
    
    <!--<parameter name="selenium.url" value="http://localhost:8080/lod2demo" />-->
    <parameter name="selenium.url" value="http://test.stack.lod2.eu/lod2demo" />
    
    <listeners>
        <listener class-name="eu.lod2.lod2testsuite.configuration.TestCaseListener" />
        <listener class-name="eu.lod2.lod2testsuite.configuration.ScreenShotListener" />
        <listener class-name="org.uncommons.reportng.HTMLReporter" />
    </listeners>
    
    <!-- 'preserve-order' is reqired when using testng 6.0.1, otherwise there is
    no correct method ordering -->
   
    <test name="ExtractionAndLoading" preserve-order="true"> 
        <classes>
            <class name="eu.lod2.lod2testsuite.testcases.ExtractionAndLoading">
                <methods>
                    <parameter name="graphName" value="http://localhost/Geo" />
                    <parameter name="graphFilePath" value="files/geo.rdf" />
                    <include name="openVirtuoso" />

                    <include name="uploadGraphInVirtuoso" />
                   
                    <include  name="loadRDFdataFromCKAN" />
                    
                    <parameter name="xmlTextFile" value="files/ealXml.txt" />  
                    <parameter name="xsltTextFile" value="files/ealXslt.txt" />    
                    <parameter name="exportGraphBasicExtraction" value="http://localhost/Geo" />  
                    
                    <exclude name="basicExtraction" />  
                    
                    <parameter name="xmlFile" value="files/eal.xml" />  
                    <parameter name="xsltFile" value="files/eal.xslt" />    
                    <parameter name="catalogFile" value="files/catalog.xml" />    
                    <parameter name="exportGraphExtendedExtraction" value="http://localhost/Geo" />  
                    
                    <include name="extendedExtraction" />                     
                    
                    <parameter name="downloadFileName" value="downloadedExtendedExtraction" />
                    <parameter name="downloadFilePath" value="files/" />
                    
                    <exclude name="downloadExtendedExtraction" /> 
                    
                    <parameter name="textFile" value="files/text.txt" />  
                    <include name="annotatePlainText" /> 
                    
                    <parameter name="exportGraphExtractor" value="" />  
                    <parameter name="poolPartyProjectId" value="" />    
                    <parameter name="language" value="" />    
                    <parameter name="textFile" value="files/text.txt" />  
                    
                    <exclude name="poolPartyExtractor" /> 
                </methods>
            </class>
        </classes>
    </test>

    <test name="QueryingAndExploration" preserve-order="true">
        <classes>
            <class name="eu.lod2.lod2testsuite.testcases.QueryingAndExploration">
                <methods>
                    <include name="ontoWikiSparql" />
                    <include name="virtuosoSparql" />
                    <include name="virtuosoInteractiveSparql" />
                    <include name="sigmaEe" />
                    <exclude name="geoSpatialExploration" />
                </methods>
            </class>
        </classes>
    </test>

     <test name="Authoring" preserve-order="true">
        <classes>
            <class name="eu.lod2.lod2testsuite.testcases.Authoring">
                <methods>
                    <include name="ontoWiki" />
                </methods>
            </class>
        </classes>
    </test>
  
    <test name="Linking" preserve-order="true">
        <classes>
            <class name="eu.lod2.lod2testsuite.testcases.Linking">
                <methods>
                    <include name="silk" />
                    <exclude name="limes" />
                    <exclude name="sameAsLinking" />
                </methods>
            </class>
        </classes>
    </test>

    <test name="Enrichment" preserve-order="true">
        <classes>
            <class name="eu.lod2.lod2testsuite.testcases.Enrichment">
                <methods>
                    <include name="ore" />
                </methods>
            </class>
        </classes>
    </test>
    
    <test name="OnlineToolsAndServices" preserve-order="true">
        <classes>
            <class name="eu.lod2.lod2testsuite.testcases.OnlineToolsAndServices">
                <methods>
                    <include name="sameAs" />
                    <include name="sindice" />
                    <include name="sigma" />
                    <include name="ckan" />
                    <include name="poolParty" />
                    <include name="lodCloud" />
                    <include name="dbpedia" />
                    <include name="poolPartySparqlEndpoint" />
                    <include name="mondecaSparqlEndpointCollection" />
                </methods>
            </class>
        </classes>
    </test>

     <test name="Configuration" preserve-order="true">
        <classes>
            <class name="eu.lod2.lod2testsuite.testcases.Configuration">
                <methods>
                    <include name="about" />
                    <exclude name="demonstratorConfig" />
                </methods>
            </class>
        </classes>
    </test>
</suite>