<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="LOD2TestSuite">
    
    <!--<parameter name="selenium.url" value="http://localhost:8080/lod2demo" />-->
    <parameter name="selenium.url" value="http://test.stack.lod2.eu/lod2demo" />
    <parameter name="selenium.url" value="http://lod2-stack.semantic-web.at/lod2demo" />
    
    <parameter name="browser.type" value="firefox" /> 
    <parameter name="system.architecture" value="64" />
    <listeners>
        <listener class-name="eu.lod2.lod2testsuite.configuration.testng.RetryAnalyzerAppender" />
        <listener class-name="eu.lod2.lod2testsuite.configuration.testng.RetryTestListener" />
        <listener class-name="eu.lod2.lod2testsuite.configuration.testng.TestCaseListener" />
        <listener class-name="eu.lod2.lod2testsuite.configuration.testng.ScreenShotListener" />
        <listener class-name="org.uncommons.reportng.HTMLReporter" />
    </listeners>
    
    <parameter name="exampleGraph" value = "http://example.com/empty/" />
    <parameter name="geoGraph" value="http://localhost/Geo" />  
    <parameter name="bookGraph" value="http://localhost/books" />  
   
    <!-- 'preserve-order' is reqired when using testng 6.0.1, otherwise there is
    no correct method ordering -->
<!--
    <test name="ExtractionAndLoading" preserve-order="true"> 
        <classes>
            <class name="eu.lod2.lod2testsuite.testcases.ExtractionAndLoading">
                <methods>
                    <parameter name="searchPhraseEU" value="DNB" />
                    <parameter name="resourceNmbrEU" value="2" />
                    <parameter name="graphNameForPublicDataEuUpload" value="http://localhost/book" />
                    <include  name="uploadGraphInVirtuosoFromPublicDataEu" />
                    
                    <parameter name="searchPhraseDH" value="Library" />
                    <parameter name="resourceNmbrDH" value="2" />
                    <parameter name="graphNameForDataHubUpload" value="http://localhost/library" />
                    <include  name="uploadGraphInVirtuosoFromDataHub" />
                    
                    <parameter name="graphNameForLocalFile" value="http://localhost/Geo" />
                    <parameter name="graphFilePath" value="files/geo.rdf" />
                    <include name="uploadGraphInVirtuosoFromFile" />
                    
                    <parameter name="xmlTextFile" value="files/ealXml.txt" />  
                    <parameter name="xsltTextFile" value="files/ealXslt.txt" />    
                    <parameter name="exportGraphBasicExtraction" value="http://localhost/Geo" />  
                    <include name="basicExtraction" />  
                    
                    <parameter name="xmlFile" value="files/eal.xml" />  
                    <parameter name="xsltFile" value="files/eal.xslt" />    
                    <parameter name="catalogFile" value="files/catalog.xml" />    
                    <parameter name="exportGraphExtendedExtraction" value="http://localhost/Geo" />  
                    <include name="extendedExtraction" />                     
                    
                    <parameter name="downloadFileName" value="downloadedExtendedExtraction" />
                    <parameter name="downloadFilePath" value="files/" />
                    <exclude name="downloadExtendedExtraction" /> 
                    
                    <parameter name="textFile" value="files/text.txt" />  
                    <include name="annotatePlainText" /> 
                    
                    <parameter name="exportGraphExtractor" value="http://localhost/Geo" />  
                    <parameter name="poolPartyProjectId" value="http://lod2.poolparty.biz/AirportEMThesaurus " />    
                    <parameter name="language" value="en" />    
                    <parameter name="textFile" value="files/text.txt" />  
                    <include name="poolPartyExtractor" /> 
                </methods>
            </class>
        </classes>
    </test>
-->
<!--
    <test name="QueryingAndExploration" preserve-order="true">
        <classes>
            <class name="eu.lod2.lod2testsuite.testcases.QueryingAndExploration">
                <methods>
                    
                    <parameter name="query" value="SELECT * WHERE {?s ?p ?o} LIMIT 10" />
                    <parameter name="exampleGraphResult" value="http://example.com/empty/owl_Class/TestResource" />
                    <parameter name="geoGraphResult" value="http://test-pp-linux.punkt.at/doku" />  
                    <parameter name="bookGraphResult" value="http://purl.org/ontology/bibo/Periodical" />  
                    
                    <parameter name="specialResult" value="http://www.openlinksw.com/virtrdf-data-formats#default-iid" />
                    <include name="assistedQueryingWithCurrentGraph" />
                    <include name="assistedQueryingAndSummeryGraph" />
                    <include name="ontoWikiSparql" />
                    <include name="virtuosoSparql" />                    
                    <include name="virtuosoInteractiveSparql" />
                    <include name="sigmaEe" />
                    <include name="geoSpatialExploration" />
                </methods>
            </class>
        </classes>
    </test>
-->

     <test name="Authoring" preserve-order="true">
        <classes>
            <class name="eu.lod2.lod2testsuite.testcases.Authoring">
                <methods>
                    <parameter name="username" value="Admin" />
                    <parameter name="knowledgeBaseTitle" value="Test Knowledge Base" />
                    <parameter name="knowledgeBaseUri" value="http://example.com/empty/" />
                    <parameter name="importUri" value="http://sebastian.tramp.name" />
                    <parameter name="resourceTitle" value="TestResource" />
                    <parameter name="instanceTitle" value="TestInstance" />
                    
                    <include name="addAndEditKnowledgeBase" />
                    <exclude name="deleteKnowledgeBase" />
                    <exclude name="publishToCkan" />
                </methods>
            </class>
        </classes>
    </test>

<!--
    <test name="Linking" preserve-order="true">
        <classes>
            <class name="eu.lod2.lod2testsuite.testcases.Linking">
                <methods>
                    <include name="silk" />
                    <exclude name="limes" />
                    <exclude name="sameAsLinking" />
                </methods>
            </class>
        </classes>
    </test>
-->
<!--
    <test name="EnrichmentAndDataCleaning" preserve-order="true">
        <classes>
            <class name="eu.lod2.lod2testsuite.testcases.EnrichmentAndDataCleaning">
                <methods>
                    <include name="ore" />
                    <include name="lodrefine" />
                    <include name="dbpediaSpotlight" />
                </methods>
            </class>
        </classes>
    </test>
-->
<!--
    <test name="OnlineToolsAndServices" preserve-order="true">
        <classes>
            <class name="eu.lod2.lod2testsuite.testcases.OnlineToolsAndServices">
                <methods>
                    <include name="sameAs" />
                    <include name="sindice" />
                    <include name="sigma" />
                    <include name="sindiceWebLinkageValidator" />
                    <include name="ckan" />
                    <include name="poolParty" />
                    <include name="lodCloud" />
                    <include name="dbpedia" />
                    <include name="poolPartySparqlEndpoint" />
                    <include name="mondecaSparqlEndpointCollection" />
                </methods>
            </class>
        </classes>
    </test>

     <test name="Configuration" preserve-order="true">
        <classes>
            <class name="eu.lod2.lod2testsuite.testcases.Configuration">
                <methods>
                    <include name="about" />
                    <include name="demonstratorConfig" />
                </methods>
            </class>
        </classes>
    </test>
-->
</suite>