Source: lod2webapi
Section: misc
Priority: extra
Maintainer: Bert Van Nuffelen <bert.van.nuffelen@tenforce.com>
Build-Depends: debhelper (>= 7.0.50~), default-jdk
Standards-Version: 3.8.4
Homepage: http://stack.linkeddata.org

Package: lod2webapi
Architecture: all
Depends: lod2-virtuoso-opensource, tomcat7, lod2-java7
Description: This is a tomcat REST webapi for Virtuoso RDF store.
 The service allows one to create a common view on graphs and prefixes for tools 
 in the Linked Data stack.
