Source: lod2demo
Section: misc
Priority: extra
Maintainer: Bert Van Nuffelen <Bert.Van.Nuffelen@tenforce.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://lod2.eu

Package: lod2demo
Architecture: all
Depends: tomcat6, virtuoso-opensource (>= 6.1.5), apache2, openjdk-7-jre | openjdk-6-jre | sun-java6-jre, ontowiki-virtuoso,  virtuoso-vad-isparql, d2r-cordis, silk, sigmaee, ore-gwt, valiant, spatial-semantic-browser, colanut, lod2webapi, dbpedia-spotlight-ui, ontowiki-cubeviz, sparqled, lod2-refine | lodgrefine | lod-refine, rdf-dataset-integration, dl-learner-components-core, dl-learner-interfaces, libjs-rdfauthor, lodms, siren, sparqlify, ontowiki-csvimport
Description: The LOD2 demonstrator application
 This package is a web application which allows one to explore 
 the different components in the LOD2 stack. It also serves as
 the root meta-package to install all LOD2 stack components.
